@use "../global/config" as *;

body {
  background-color: $clr-bg;
  color: $clr-text;
  font-family: $ff;
  padding-bottom: 200vh;
  font-weight: $medium;
  font-size: 14px;
}

button {
  cursor: pointer;
}

h1 {
  font-size: $heading;
  font-weight: $bold;
}

h2 {
  font-size: $sub-heading;
  font-weight: $semi-bold;
}

p {
  font-weight: $light;
}

main {
  display: grid;
  min-height: 100vh;
  place-items: center;
  --border-radius: 8px;

  form {
    position: relative;
    padding: 1.2rem 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    p {
      margin: 1rem 0 0 0;
    }

    &::before {
      content: "";
      background-color: $clr-bg;
      position: absolute;
      inset: 0;
      z-index: -2;
      border-radius: var(--border-radius);
    }

    &::after {
      content: "";
      background-color: $clr-text;
      position: absolute;
      inset: 0;
      z-index: -1;
      opacity: 0.1;
      border-radius: var(--border-radius);
    }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1.5rem 0;
  --border-radius: 50%;

  > button {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: none;
    transition: 1s;
    background: none;
    position: relative;
    border-radius: var(--border-radius);
    color: $clr-text;

    &:focus {
      background-color: $clr-neutral;
      color: $clr-bg;
    }

    &::before {
      border-radius: var(--border-radius);
      content: "";
      position: absolute;
      background-color: $clr-bg;
      inset: 0;
      z-index: -2;
      border-radius: var(--border-radius);
    }

    &::after {
      border-radius: var(--border-radius);
      content: "";
      position: absolute;
      background-color: $clr-text;
      inset: 0;
      z-index: -1;
      opacity: 0.1;
    }
  }
}

.primary-btn {
  width: 100%;
  height: 2.5rem;
}
